{
code = 0;
status = success;
success =     {
list =         (
{
"cat_id" = 1;
"cat_name" = "\U5317\U4eac";
},
{
"cat_id" = 141;
"cat_name" = "\U5929\U6d25";
},
{
"cat_id" = 146;
"cat_name" = "\U53a6\U95e8";
},
{
"cat_id" = 147;
"cat_name" = "\U897f\U5b89";
},
{
"cat_id" = 168;
"cat_name" = "\U676d\U5dde";
},
{
"cat_id" = 170;
"cat_name" = "\U5357\U4eac";
},
{
"cat_id" = 216;
"cat_name" = "\U54c8\U5c14\U6ee8";
},
{
"cat_id" = 504;
"cat_name" = "\U592a\U539f";
},
{
"cat_id" = 533;
"cat_name" = "\U957f\U6625";
},
{
"cat_id" = 585;
"cat_name" = "\U91cd\U5e86";
},
{
"cat_id" = 713;
"cat_name" = "\U6210\U90fd";
},
{
"cat_id" = 891;
"cat_name" = "\U4e0a\U6d77";
},
{
"cat_id" = 1194;
"cat_name" = "\U6606\U660e";
},
{
"cat_id" = 1316;
"cat_name" = "\U90d1\U5dde";
},
{
"cat_id" = 1400;
"cat_name" = "\U6c88\U9633";
},
{
"cat_id" = 1432;
"cat_name" = "\U5927\U8fde";
},
{
"cat_id" = 1734;
"cat_name" = "\U6df1\U5733";
}
);
};
updatetime = 1456825829;
}