<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   typeud21.plist
   HappyWeekend

   Created by 张茫原 on 16/1/11.
   Copyright (c) 2016年 芒果科技. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
